<header class="site-header" role="banner">
  <nav id="nav-side">
    <a href="javascript:void(0)" class="close-button">&times</a>
    <div class="container-links">
      <a href="{{ site.url }}{{ site.baseurl }}" class="fa fa-home">   Home</a>
      <a href="" class="fa fa-language">   Vocabulary</a>
      <a href="" class="fa fa-buysellads">   about</a>
    </div>
  </nav>
  <nav id="mobile-nav">
    <a id="button-nav-toggle" href="#">&#9776;</a>
  </nav>
  <img id="img-banner" src="{{ site.baseurl }}/img/frenchshop.png" alt="French shop, black and white photo with blue accented shutters">
  <nav id="nav-main-header">
    <ul class="posts">
      <li><a href="{{ site.url }}{{ site.baseurl }}">Home</a></li>
      {% assign my_pages = site.pages | sort: "navOrder" %}
      {% for my_page in my_pages %}
        {% if my_page.title %}
        <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <div id="header-banner">
    <h1>Le quotidien français...</h1>
  </div>
</header>
