---
layout: default
---
<section class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <!--<header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>-->
  {% include post-nav.html %}
  <img class="envelope" src="{{ site.baseurl }}/img/airmail-apo.png">
  <div class="front-back-wrapper">

  <article class="wrapper-post corner-shadow">
    <div class="post-content" itemprop="articleBody">
      <h1>{{ page.title | escape }}</h2>
      {{ content }}
    </div>
  </article>
  <div class="reference postit">test
    <ol>
    {% for word_def in page.vocab %}
      {% for item in word_def %}
      <li><b>{{ item[0] }}</b>: {{ item [1] }}</li>
      {% endfor %}
    {% endfor %}
    </ol>
  </div>
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</section>
<script>
$(function() {
  $('.nav-post').kjsticky({footerID: ".site-footer", mainID: ".post"});
  $(window).on('resize', function() {
    $('.nav-post').kjsticky({footerID: ".site-footer", mainID: ".post"});
    location.reload();
  });
  $('.wrapper-post').on('click', function(){
    $(this).toggleClass('show-under');
  });
});
</script>
